.paperComputer {
  display: flex;
  position: fixed;
  top: 40%;
  left: 62%;
  margin-top: -50px;
  margin-left: -5%;
  background-color: white;
  border-radius: 50%;
  border: 20px solid rgb(144, 80, 204);
  padding: 40px;
  box-shadow: 2px 5px rgb(66, 31, 99);
  height: 90px;
}

.scissorsComputer {
  display: flex;
  position: fixed;
  top: 40%;
  left: 62%;
  margin-top: -50px;
  margin-left: -5%;
  background-color: white;
  border-radius: 50%;
  border: 20px solid rgb(248, 237, 85);
  padding: 40px;
  box-shadow: 2px 5px rgb(145, 146, 59);
  height: 90px;
}

.rockComputer {
  display: flex;
  position: fixed;
  top: 40%;
  left: 62%;
  margin-top: -50px;
  margin-left: -5%;
  background-color: white;
  border-radius: 50%;
  border: 20px solid rgb(245, 32, 32);
  padding: 40px;
  box-shadow: 2px 5px rgb(184, 29, 29);
  height: 90px;
}

.null {
  display: flex;
  position: fixed;
  top: 40%;
  left: 62%;
  margin-top: -50px;
  margin-left: -5%;
  background-color: rgb(15, 28, 104);
  border-radius: 50%;
  border: 20px solid rgb(15, 28, 104);
  padding: 40px;
  height: 100px;
  width: 100px;
}
